*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
}

h1 {
  font-weight: 600;
  line-height: 1.2rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

label {
  display: flex;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

input,
button,
select {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.container {
  width: 3500px;
  margin: 25px 20px 20px auto;
  padding: 1.8rem 1rem;
}

.header {
  overflow: hidden;
  background-color: #f8f9fa;
  padding: 10px 24px;
  height: 125px;
  /* width: 100%; */
}

#getmyclasslogo {
  height: 60px;
  width: 250px;
  position: relative;
  left: 80px;
  top: 20px;
}

.topic {
  background-color: #fdac53;
  padding: 10px 24px;
  height: 70px;
  /* width: 100%; */
  border-radius: 25px;
}

.topic:hover {
  background-color: rgb(213, 233, 185);
}

#title {
  position: relative;
  height: 30px;
  color: rgba(46, 14, 231, 0.902);
  text-align: center;
  top: 10px;
  font-family: "Poppins", sans-serif;
}

#description {
  color: "black";
  text-align: center;

  font-size: 17px;
  font-weight: 700;
  margin: 15px 75px 20px 75px !important;
}



li {
  color: rgb(88, 27, 218, 1);
  font-size: 1.3rem;
  margin-left: 20px;
}

#quest {
  color: rgb(88, 27, 218, 1);
  font-size: 1.3rem;
}

form {
  background: #dcd3d2;
  border-radius: 40px;
  margin: 25px 200px 0px;
}

.form-group {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 0.25rem;
}

.radio {
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

#submitButton {
  background: #0066a2;
  margin-bottom: 40px;
  margin-top: 10px;
  color: white;
  border-style: outset;
  border-color: #0066a2;
  height: 50px;
  width: 100px;
  font: bold 15px arial, sans-serif;
  border-radius: 20px;
}

#button {
  position: relative;
  /* top: 40px; */
  text-align: center;
  margin: auto;
}


#formIncomplete {
  background-color: rgb(231, 75, 75);
  text-align: center !important;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  display: block;
  height: 60px;
  width: 35%;
  margin-top: 0px;
}


#formIncompleteText {
  font-size: 1rem;
  font-weight: 100px;
  color: white;
  position: relative;
  top: 20px;
}


#result {
  background-color: lightblue;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 80px;
  width: 40%;
  height: 275px;
  text-align: center;
  padding-top: 2px;
  line-height: 2;
  /* margin-bottom: 100px; */
  display: block;
}


#thankYouMessage {
  font-style: italic;
  font-weight: 1000;
  position: relative;
  top: 40px;
  line-height: 1.5;
}


/* table styling */
table {
  border-collapse: collapse;
  font-family: Tahoma, Geneva, sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  position: relative;
  top: 60px;
  width: 50%;
}

table td {
  padding: 15px;
}

table thead td {
  background-color: #4a4e53;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid #54585d;
}

table tbody td {
  color: #636363;
  border: 1px solid #dddfe1;
}

table tbody tr {
  background-color: #f9fafb;
}

table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}


/* area summary div, this div sets the RIASEC summary divs in the middle */
.pdfSummary {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  text-align: center;
  padding-top: 2px;
  line-height: 2;
  margin-bottom: 100px;
  display: block;
}


.areaSummary {
  border: 0.5px #252525;
  background-color: #cd9e9ea3;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  line-height: 1.1;
  padding: 30px 30px 30px 30px !important;
  border-radius: 40px;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.areaSummary .listItems {
  padding: 0px 0px;
  width: 4%;
}

.areaSummary .traitDescription {
  font-size: 1rem;
  padding: 0px 20px;
}

.summary li {
  font-size: 1rem;
  color: black;
}

.relatedPathways {
  border-radius: 40px;
  background-color: #84a4b7;
  padding-top: 10px;
  padding-bottom: 10px;
}

.relatedPathways #relatedPaths {
  color: #88006f;
}

@media only screen and (max-width: 1024px) {
  #result {
    background-color: lightblue;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 80px;
    width: 40%;
    height: 325px;
    text-align: center;
    padding-top: 2px;
    line-height: 2;
    margin-bottom: 40px;
  }
  
  
  #thankYouMessage {
    font-style: italic;
    font-weight: 1000;
    font-size: 20px;
  }
}

@media only screen and (max-width: 814px) {
  #description {
    margin: 23px 31px;
  }
  #completeIt {
    margin: 23px 31px;
  }

  form {
    margin: 15px 100px 20px 100px;
  }
  #result {
    background-color: lightblue;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 80px;
    text-align: center;
    padding-top: 2px;
    line-height: 2;
    margin-bottom: 100px;
    display: block;
    width: 80%;
  }
  #thankYouMessage {
    font-style: italic;
    font-weight: 1000;
  }
}


@media only screen and (max-width: 768px) {
  #result {
    background-color: lightblue;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 80px;
    text-align: center;
    padding-top: 2px;
    line-height: 2;
    margin-bottom: 0px;
    display: block;
    width: 70%;
  }
  #thankYouMessage {
    font-style: italic;
    font-weight: 1000;
  }

    /* area summary div, this div sets the RIASEC summary divs in the middle */
.pdfSummary {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 75%;
  text-align: center;
  padding-top: 2px;
  line-height: 2;
  margin-bottom: 100px;
  display: block;
}
}


@media only screen and (max-width: 700px) {
  form {
    margin: 15px 20px 20px 20px;
  }
  .form-question {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    line-height: 1.1;
    padding: 25px 30px 25px 30px !important;
  }

  #description {
    /* font-weight: 600; */
    text-align: center;
    font-size: 15px;
    color: #131010e2;
    margin: 20px 50px 30px;
  }

  #completeIt {
    /* font-style: bold; */
    font-size: 15px;
    color: #131010e2;
    margin: 20px 80px 30px;
    text-align: center;
  }

  #result {
    background-color: lightblue;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 80px;
    text-align: center;
    padding-top: 2px;
    line-height: 2;
    margin-bottom: 100px;
    display: block;
    width: 80%;
  }
  #thankYouMessage {
    font-style: italic;
    font-weight: 1000;
  }
}

@media only screen and (max-width: 425px) {
  #getmyclasslogo {
    height: 40px;
    width: 200px;
    position: relative;
    left: 10px;
    top: 20px;
  }
  form {
    margin: 20px 25px 25px 20px;
  }
  form li {
    font-size: small;
  }
  .form-question {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    line-height: 1.1;
    padding: 15px 20px 15px 20px !important;
  }

  #description {
    /* font-weight: 600; */
    text-align: center;
    font-size: 13px;
    margin: 15px 13px 20px 13px;
  }

  #completeIt {
    /* font-style: bold; */
    font-size: 13px;
    margin: 20px 40px 30px;
    text-align: center;
  }

  #quest {
    font-size: 1rem;
  }

  #result {
    background-color: lightblue;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 80px;
    text-align: center;
    padding-top: 2px;
    line-height: 2;
    margin-bottom: 0px;
    display: block;
    width: 80%;
    height: 370px;
  }
  #thankYouMessage {
    font-style: italic;
    font-weight: 1000;
    /* font-size: 15px; */
  }

  /* area summary div, this div sets the RIASEC summary divs in the middle */
.pdfSummary {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  text-align: center;
  padding-top: 2px;
  line-height: 2;
  margin-bottom: 100px;
  display: block;
}

}