/* Include padding and border in the element's total width and height. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
}

h1 {
  font-weight: 400;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

label {
  display: flex;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

input,
button,
select {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.container {
  width: 3500px;
  margin: 25px 20px 20px auto;
  padding: 1.8rem 1rem;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #f8f9fa;
  padding: 10px 24px;
  height: 125px;
  /* width: 100%; */
}

#getmyclasslogo {
  height: 60px;
  width: 250px;
  position: relative;
  left: 80px;
  top: 20px;
}

.topic {
  background-color: #fdac53;
  padding: 10px 24px;
  height: 70px;
  /* width: 100%; */
  border-radius: 25px;
}

.topic:hover {
  background-color: rgb(213, 233, 185);
}

#title {
  position: relative;
  height: 30px;
  color: rgba(46, 14, 231, 0.902);
  text-align: center;
  top: 10px;
  font-family: "Poppins", sans-serif;
}


#description {
  color: "black";
  text-align: center !important;
  font-size: 17px;
  font-weight: 700;
  margin: 15px 75px 20px 75px !important;
}
#assignment {
  margin: 25px 180px 40px;
}

li {
  color: rgb(88, 27, 218, 1);
  font-size: 1.1rem;
}

#quest {
  color: rgb(88, 27, 218, 1);
  font-size: 1.1rem;
}

form {
  background: #dcd3d2;
  border-radius: 40px;
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.checkbox {
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

#submitButton {
  background: #0066a2;
  color: white;
  border-style: outset;
  border-color: #0066a2;
  height: 50px;
  width: 100px;
  font: bold 15px arial, sans-serif;
  border-radius: 20px;
}

#button {
  position: relative;
  /* top: 40px; */
  text-align: center;
  justify-items: center;
  margin: auto;
}


#result {
  background-color: lightblue;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 80px;
  text-align: center;
  padding-top: 2px;
  line-height: 2;
  margin-bottom: 100px;
  display: block;
  height: 275px;
  width: 30%;
}

#thankYouMessage {
  font-style: italic;
  font-weight: 1000;
  font-size: 20px;
}

/* table styling */
table {
  border-collapse: collapse;
  font-family: Tahoma, Geneva, sans-serif;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -25px;
}

table td {
  padding: 15px;
}

table thead td {
  background-color: #4a4e53;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid #54585d;
}

table tbody td {
  color: #636363;
  border: 1px solid #dddfe1;
}

table tbody tr {
  background-color: #f9fafb;
}

table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

@media (min-width: 480px) {
  form {
    padding: 2.5rem;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 800px) {
  .container {
    max-width: 760px;
  }
} */


/* .../ */
.example::-webkit-scrollbar {
  display: none;
}



@media only screen and (max-width: 1024px) {
  #assignment {
    margin: 25px 80px 40px;
  }
}

@media only screen and (max-width: 814px) {
  #description {
    margin: 23px 31px;
  }
  #completeIt {
    margin: 23px 31px;
  }

  form {
    margin: 15px 100px 20px 100px;
  }
  #assignment {
    margin: 25px 55px 40px;
  }
  #result {
    background-color: lightblue;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 80px;
    text-align: center;
    padding-top: 2px;
    line-height: 2;
    margin-bottom: 100px;
    display: block;
    width: 80%;
  }
  #thankYouMessage {
    font-style: italic;
    font-weight: 1000;
  }
}

@media only screen and (max-width: 768px) {
  #result {
    background-color: lightblue;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 80px;
    text-align: center;
    padding-top: 2px;
    line-height: 2;
    margin-bottom: 100px;
    display: block;
    width: 70%;
  }
  #thankYouMessage {
    font-style: italic;
    font-weight: 1000;
  }
}


@media only screen and (max-width: 700px) {
  form {
    margin: 15px 20px 20px 20px;
  }
  .form-question {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    line-height: 1.1;
    padding: 25px 30px 25px 30px !important;
  }

  #description {
    /* font-weight: 600; */
    text-align: center;
    font-size: 15px;
    color: #131010e2;
    margin: 20px 50px 30px;
  }

  #completeIt {
    /* font-style: bold; */
    font-size: 15px;
    color: #131010e2;
    margin: 20px 80px 30px;
    text-align: center;
  }
  #assignment {
    margin: 25px 30px 40px;
  }
  #result {
    background-color: lightblue;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 80px;
    text-align: center;
    padding-top: 2px;
    line-height: 2;
    margin-bottom: 100px;
    display: block;
    width: 80%;
  }
  #thankYouMessage {
    font-style: italic;
    font-weight: 1000;
  }
}

@media only screen and (max-width: 425px) {
  #getmyclasslogo {
    height: 40px;
    width: 200px;
    position: relative;
    left: 10px;
    top: 20px;
  }
  form {
    margin: 20px 25px 25px 20px;
  }
  form li {
    font-size: small;
  }
  .form-question {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    line-height: 1.1;
    padding: 15px 20px 15px 20px !important;
  }

  #description {
    /* font-weight: 600; */
    text-align: center;
    font-size: 13px;
    margin: 15px 13px 20px 13px;
  }

  #completeIt {
    /* font-style: bold; */
    font-size: 13px;
    margin: 20px 40px 30px;
    text-align: center;
  }

  #quest {
    font-size: 1rem;
  }
  #assignment {
    margin: 25px 15px 40px;
  }
  #result {
    background-color: lightblue;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 80px;
    text-align: center;
    padding-top: 2px;
    line-height: 2;
    margin-bottom: 100px;
    display: block;
    width: 80%;
  }
  #thankYouMessage {
    font-style: italic;
    font-weight: 1000;
    /* font-size: 15px; */
  }
}
