/* Include padding and border in the element's total width and height. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.4;
  margin: 0;
}

h1 {
  font-weight: 400;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

label {
  display: flex;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.header {
  overflow: hidden;
  background-color: #f8f9fa;
  padding: 10px 24px;
  height: 125px;
  /* width: 100%; */
}

#getmyclasslogo {
  height: 60px;
  width: 250px;
  position: relative;
  left: 80px;
  top: 20px;
}

.topic {
  background-color: #fdac53;
  padding: 10px 24px;
  height: 70px;
  /* width: 100%; */
  border-radius: 25px;
}

.topic:hover {
  background-color: rgb(213, 233, 185);
}

#title {
  height: 30px;
  color: rgba(46, 14, 231, 0.902);
  position: relative;
  text-align: center;
  top: 10px;
  font-family: "Poppins", sans-serif;
}

#growUp {
  height: 30px;
  width: 100%;
  color: rgba(46, 14, 231, 0.902);
  position: relative;
  text-align: center;
  top: 10px;
  font-family: "Poppins", sans-serif;
}

#description {
  /* font-weight: 600; */
  text-align: justify;
  font-size: 20px;
  color: #131010e2;
  margin: 25px 100px 40px;
}

#needDirections {
  height: 30px;
  /* width: 100%; */
  color: rgba(46, 14, 231, 0.902);
  /* position: relative; */
  text-align: center;
  top: 10px;
  font-family: "Poppins", sans-serif;
}

#completeIt {
  /* font-style: bold; */
  font-size: 20px;
  color: #131010e2;
  margin: 25px 140px 40px 140px;
  text-align: center;
}

form {
  /* border: 2px solid black; */
  margin: 25px 200px 40px;
  /* height: 7300px; */
}

form label {
  font-size: medium;
}

.form-question {
  border: 0.5px #252525;
  background-color: #cd9e9ea3;
  /* box-shadow: #393a3b; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  line-height: 1.5;
  padding: 30px 50px 30px 50px !important;
  /* 35px 50px 25px 50px; */
  border-radius: 40px;
}

#submitButton {
  background: #0066a2;
  margin-bottom: 40px;
  margin-top: 0px;
  color: white;
  border-style: outset;
  border-color: #0066a2;
  height: 50px;
  width: 100px;
  font: bold 15px arial, sans-serif;
  border-radius: 20px;
}

#button {
  position: relative;
  /* top: 40px; */
  text-align: center;
  margin: auto;
}

.checkbox {
  margin-right: 1rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}


#result{
  background-color: lightblue;
  margin-right: auto;
  margin-left: auto;
  border-radius: 80px;
  width: 40%;
  height: 400px;
  text-align: center;
  padding-top: 2px;
  padding-right: 60px;
  padding-left: 60px;
  line-height: 2;
  position: relative;
  top: -40px;
}


#thankYouMessage {
  font-style: italic;
  font-weight: 1000;
  font-size: 20px;
}


/* table styling */
table {
border-collapse: collapse;
  font-family: Tahoma, Geneva, sans-serif;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -25px;
}


table td {
padding: 15px;
}


table thead td {
background-color: #4a4e53;
color: #ffffff;
font-weight: bold;
font-size: 13px;
border: 1px solid #54585d;
}


table tbody td {
color: #636363;
border: 1px solid #dddfe1;
}


table tbody tr {
background-color: #f9fafb;
}


table tbody tr:nth-child(odd) {
background-color: #ffffff;
}


@media only screen and (max-width: 814px) {
  #description {
    margin: 23px 31px;
  }
  #completeIt {
    margin: 23px 31px;
  }

  form {
    margin: 15px 100px 20px 100px;
  }
}

@media only screen and (max-width: 700px) {
  form {
    margin: 15px 20px 20px 20px;
  }
  .form-question {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    line-height: 1.1;
    padding: 25px 30px 25px 30px !important;
  }

  #description {
    /* font-weight: 600; */
    text-align: justify;
    font-size: 15px;
    color: #131010e2;
    margin: 20px 80px 30px;
  }

  #completeIt {
    /* font-style: bold; */
    font-size: 15px;
    color: #131010e2;
    margin: 20px 80px 30px;
    text-align: center;
  }
}

@media only screen and (max-width: 425px) {
  #getmyclasslogo {
    height: 40px;
    width: 200px;
    position: relative;
    left: 10px;
    top: 20px;
  }
  form {
    margin: 20px 25px 25px 20px;
  }
  form li {
    font-size: small;
  }
  .form-question {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    line-height: 1.1;
    padding: 15px 20px 15px 20px !important;
  }

  #description {
    /* font-weight: 600; */
    text-align: justify;
    font-size: 12px;
    margin: 15px 35px 20px;
  }

  #completeIt {
    /* font-style: bold; */
    font-size: 13px;
    margin: 20px 40px 30px;
    text-align: center;
  }
}
